<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory name="session1">
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/drywall</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">TCC</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="cmd/entidade/Item.hbm.xml"/>
    <mapping resource="cmd/entidade/RegistroAtividade.hbm.xml"/>
    <mapping resource="cmd/entidade/Funcionario.hbm.xml"/>
    <mapping resource="cmd/entidade/PessoaJuridica.hbm.xml"/>
    <mapping resource="cmd/entidade/Material.hbm.xml"/>
    <mapping resource="cmd/entidade/Orcamento.hbm.xml"/>
    <mapping resource="cmd/entidade/PessoaFisica.hbm.xml"/>
    <mapping resource="cmd/entidade/Endereco.hbm.xml"/>
    <mapping resource="cmd/entidade/Parede.hbm.xml"/>
    <mapping resource="cmd/entidade/RegistroConstrucao.hbm.xml"/>
    <mapping resource="cmd/entidade/MaterialItem.hbm.xml"/>
    <mapping resource="cmd/entidade/Telefone.hbm.xml"/>
    <mapping resource="cmd/entidade/RegistroOrcamento.hbm.xml"/>
    <mapping resource="cmd/entidade/Forro.hbm.xml"/>
    <mapping resource="cmd/entidade/Cliente.hbm.xml"/>
    <mapping resource="cmd/entidade/Construcao.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
